@use '_triviaCard.scss';

$main-color: #13262F;
$secondary-color: #292929;
$highlights: #E3C567;
 * {
    margin:0;
 }
 html {
    height:100%
 }
 body {
    height:100%;
    background-color:$main-color;
 }
 #main {
    background-image: url(../images/mainImage.jpg);
    background-size:cover;
    background-position:center;
    height:100%;
    width:100%;

    .mainText {
      width:650px;
      height:300px;
      position:relative;
      top:250px;
      left:300px;
   }
   .mainText h1 {
      color:black;
      font-size:70px;
      font-family: 'Montserrat', sans-serif;
      font-weight:600;
   }
  .triviaIcons {
     width:600px;
     height:600px;
     background-image: url(../images/My\ project-1\ \(1\).png);
     background-size:cover;
     position:relative;
     left:50%;
     bottom:150px;
     animation: aliceTumbling infinite 60s linear;
  }
  @keyframes aliceTumbling {
     0% {
       color: #000;
       transform: rotate(0) translate3D(-0%, -0%, 0);
     }
     30% {
       color: #431236;
     }
     100% {
       color: #000;
       transform: rotate(360deg) translate3D(-0%, -0%, 0);
     }
   }
   button {
     background-color:$highlights;
     width:300px;
     height:50px;
     margin-top:30px;
     border-radius:5px;
     font-family: 'Montserrat', sans-serif;
   }
   .logo {
      margin-top:10px;
     width:150px;
     height:150px;
     background-image: url(../images/My\ project-1.png);
     background-size:cover;
     position:absolute;
   }
 }
 .navBar {
   width:100%;
   height:50px;
   background-color:$main-color;
   position:fixed;
   color: white;
  bottom: 0px;
  z-index:5;

 }
 .navContent {
   height:50px;
   width:100%;
   margin: 0 auto;
   border-top: $highlights solid 2px;
 }
 .navBar a {
   display:inline;
   padding:0px 200px;
   color:white;
   text-align:center;
   text-decoration:none;
  transition:.5s;
  position:relative;
  top:10px;
 }
 .navBar a:hover {
  color:$highlights;
 }
 footer {
  width:100%;
  height:1000px;
  background-color:red;
 }

 h1 {
  color: rgb(255, 255, 255);
  font-size:50px;
 }

 .helpBody {
  width:100%;
  height:500px;
  background-color:rgb(249, 249, 249);
  background-image: url(../images/dots.png);
  background-size:500px;
  background-position:center;
   .contact{
    text-align:center;
    position:relative;
    top:200px;
    background-color:$main-color;
    width:1300px;
    margin:0 auto;
    padding:30px;
    font-family: 'Roboto', sans-serif;
   }
   .logo {
    margin-top:10px;
   width:100px;
   height:100px;
   background-image: url(../images/My\ project-1.png);
   background-size:150px;
   position:absolute;
   background-position:center;
   background-color:white;
   border-radius:50%;
   margin-left:10px;
  }
 }
  .scrollContent {
  width:100%;
  height:1400px;
  background-image: url(../images/duck.jpeg);
  background-size:500px;
  background-repeat:no-repeat;
  background-position:center;
  background-color:rgb(249, 249, 249);

  h3 {
    color:white;
    font-size:30px;
   }
   .faq{
    width:90%;
    height:400px;
    margin:0 auto;
    position:relative;
    top:50px;
    padding:30px;
    background-color:rgba(0, 75, 140, 0.472);
    font-family: 'Roboto', sans-serif;
    text-align:center;
   }
   .hidden {
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition:all 1s;
  }
  

  .show {
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
  }
  .map {
    height:300px;
    width:800px;
    margin:0 auto;
  }
  .iframeContainer{
    margin:0 auto;
    height:300px;
    width:800px;
    position:relative;
    top:35%
  }
  h4 {
    text-align:center;
    position:relative;
    top:33%;
  }
 }
 .aboutPage {
  width:100%;
  height:950px;
  background-color:white;
  border-bottom:5px solid $highlights;
  .mcqLogo {
    height:500px;
    width:500px;
    background-image: url(../images/My\ project-1.png);
    background-size:cover;
    margin:0 auto;
    position:relative;
    left:20%;
    top:15%;
  }
  .aboutText {
    width:900px;
    height:250px;
    margin:0 auto;
    position:relative;
    right:5%;
    bottom:25%;
    .aboutH1 {
      color:black;
      font-size:70px;
      font-family: 'Montserrat', sans-serif;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
    }
    p{
      width:700px;
    }
    .scrollForMore {
      margin-top:20px;
      width:300px;
      height:50px;
      border-bottom: 2px solid black;
      text-align:center;
      h3 {
        position:relative;
        top:13px;
      }
    }
  }
 }
 .scrolledAbout {
  width:100%;
  height:600px;
  background-color:$main-color;
  display:flex;
  flex-direction:row;
  .locationLeft {
    width:50%;
    height:500px;
    background-image: url(../images/vegas.webp);
    background-size:cover;
    background-position:center;
  }
  .locationDesc {
    width:50%;
    height:500px;
    background-color:rgb(131, 131, 131);
    h1 {
      color:black;
    }
    p {
      width:500px;
      font-size:20px;
      
    }
    .scrolledAboutText {
      width:600px;
      height:200px;
      margin:0 auto;
      position:relative;
      top:25%;
      font-family: 'Roboto', sans-serif;
    }
  }
}
 


 .d-flex {
  display: flex;
 }

 .center {
  align-items: center;
  justify-content: center;
 }