@use '_triviaCard.scss';

$main-color: #13262F;
$secondary-color: #292929;
$highlights: #E3C567;
 * {
    margin:0;
 }
 html {
    height:100%
 }
 body {
    height:100%;
    background-color:$main-color;
 }
 #main {
    background-image: url(../images/mainImage.jpg);
    background-size:cover;
    background-position:center;
    height: 900px;
    width:100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    .mainText {
      width:650px;
      height:300px;
      top:250px;
      left:300px;
      margin: 5px;
   }
   .mainText h1 {
      color:black;
      font-size:70px;
      font-family: 'Montserrat', sans-serif;
      font-weight:600;
   }
  .triviaIcons {
     width:600px;
     height:600px;
     background-image: url(../images/My\ project-1\ \(1\).png);
     background-size:cover;
     left:50%;
     bottom:150px;
     animation: aliceTumbling infinite 60s linear;
  }
  @keyframes aliceTumbling {
     0% {
       color: #000;
       transform: rotate(0) translate3D(-0%, -0%, 0);
     }
     30% {
       color: #431236;
     }
     100% {
       color: #000;
       transform: rotate(360deg) translate3D(-0%, -0%, 0);
     }
   }

   button {
     background-color:$highlights;
     width:300px;
     height:50px;
     margin-top:30px;
     border-radius:5px;
     font-family: 'Montserrat', sans-serif;
   }
   .logo {
      margin-top:10px;
     width:150px;
     height:150px;
     background-image: url(../images/My\ project-1.png);
     background-size:cover;
     align-self: flex-start;
   }
 }

//  -----------------------------Navigation Bar--------------------------------
 .navBar {
   width:100%;
   height:50px;
   background-color:$main-color;
   position:fixed;
  bottom: 0px;
  z-index: 20000;
  display: flex;
  align-items: center;
  justify-content: space-around;

 }


 .navBar a {
  color:white;
  text-decoration:none;
  transition:.5s;
 }

 .navBar a:hover {
  color:$highlights;
 }


 footer {
  width:100%;
  height:1000px;
  background-color:red;
 }

 h1 {
  color: rgb(255, 255, 255);
  font-size:50px;
 }

//  Help

 .aboutPage {
  width:100%;
  height:950px;
  background-image: url(../images/lake.jpeg);
  background-size:cover;
  background-attachment:fixed;
  background-color:rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  .mcqLogo {
    height:400px;
    width:400px;
    background-image: url(../images/My\ project-1.png);
    background-size:cover;
  }
  .aboutText {
    margin: 10px;
    width:900px;
    height:325px;
    background-color: rgba(1, 101, 134, 0.621);
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: white;
    .aboutH1 {
      font-size:70px;
      font-family: 'Montserrat', sans-serif;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
    }
    .scrollForMore {
      margin-top: 75px;
      width:300px;
      height:50px;
      border-bottom: 2px solid white;
      text-align:center;
      h3 {
        position:relative;
        top:13px;
        color:white;
      }
    }
  }
 }
 .scrolledAbout {
  width:100%;
  height:500px;
  background-color:$main-color;
  display:flex;
  flex-direction:row;
  .locationLeft {
    width:50%;
    height:500px;
    background-image: url(../images/vegas.jpeg);
    background-size:cover;
    background-position:top;
    background-attachment: fixed;
  }
  .locationDesc {
    width:50%;
    height:500px;
    background-color:rgb(131, 131, 131);
    display: flex;
    align-items: center;
    h1 {
      color:black;
      font-size: 230x;
    }
    p {
      font-size:18px;
      
    }
    .scrolledAboutText {
      padding: 10px;
      margin:0 auto;
      position:relative;
      font-family: 'Roboto', sans-serif;
    }
  }
}
 


 .d-flex {
  display: flex;
 }

 .center {
  align-items: center;
  justify-content: center;
 }
 .us1 {
  width:100%;
  height:600px;
  display:flex;
  flex-wrap: wrap;
  .us1Left {
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 10px;
    width: 60%;
    .us1LeftText {
      margin:0 auto;
      position:relative;
    }
    h1 {
      font-family: 'Roboto', sans-serif;
      color:black;
    }
    p {
      color:black;
    }
  }
  .us1Right {
    background-color:white;
    width: 40%;
  }
 }
 .Isaac {
  width: 100%;
  height: 100%;
  background-image: url(../images/me.png);
  background-size:cover;
  background-position: center;
  margin:0 auto;
 }
 .us2 {
  width:100%;
  height: 500px;
  display:flex;
  flex-wrap: wrap-reverse;
  .us2Left {
    width:40%;
    height:500px;
    background-color:rgb(0, 0, 0);
  }
  .us2Right {
    width:60%;
    height:500px;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    .us2RightText {
      margin:0 auto;
      position:relative;
    }
     h1 {
      font-family: 'Roboto', sans-serif;
    }
    p {
      color:white;
    }
  }
 }
 .Josh {
  width: 100%;
  height: 100%;
  background-image: url(../images/josh.png);
  background-size:cover;
  background-position:center;
  margin:0 auto;
  position:relative;
 }
 .parBody {
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  display:flex; 
  justify-content:center;
  align-items:center;
 }
 .parBody:before {
  content: '';
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  z-index:10000;
 }
 .parBody:after {
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #0a2a43;
  z-index:10000;
  mix-blend-mode:color;
 }
 .parBody img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events:none;
 }
 #text {
  position:relative;
  z-index:1;
  width:300px;
  height:300px;
 }
 #helpText {
  color:white;
  position:relative;
  z-index:1;
  font-family: 'Roboto', sans-serif;
 }
 #road {
  z-index:2;
 }
 .helpBody {
  width:100%;
  height:1500px;
  background-color:rgb(249, 249, 249);
  background-image: url(../images/lake2.webp);
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  .helpScrollContent {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    .helpScrollContentLeft {
      width:50%;
      height:100%;
      background-image: url(../images/road.jpg);
      background-size:cover;
      background-position:center;
      background-attachment:fixed;
      .logo {
        width:150px;
        height:150px;
        background-image: url(../../public/images/logo2.png);
        background-size:cover;
        margin:0 auto;
        margin-top:100px;
      }
      .line {
        width:200px;
        height:1px;
        background-color:white;
        margin:0 auto;
      }
      h1 {
        text-align:center;
        margin-top:50px;
        font-family: 'Roboto', sans-serif;
        font-weight:bold;
      }
      h3{
        color:white;
        text-align:center;
        font-family: 'Roboto', sans-serif;
      }
    }
    .helpScrollContentRight {
      width:50%;
      height:100%;
    }

   }
   .contactPage {
    width:100%;
    height:500px;
   background-color:white;
    h1 {
      font-family: 'Roboto', sans-serif;
      text-align:center;
      position:relative;
      top:40%;
      color:black;
    }
   }
 }
 .ArtWork {
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  display:flex; 
  justify-content:center;
  align-items:center;
  background-image:url(../images/mainImage.jpg);
  background-size:cover;
  h1 {
    position:absolute;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    z-index:3;
    color:black;
  }
 }
 .ArtWork:before {
  content: '';
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  z-index:10000;
 }
 .ArtWork:after {
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000000bb;
  z-index:10000;
  mix-blend-mode:color;
 }
 .ArtWork img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  pointer-events:none;
 }
 #Ducks {
  width: 850px;
 }
 .testimonial {
  width:100%;
  height:700px;
 }
 .carouselSize {
  width:100%;
  height:700px;
  .stars {
    width:200px;
    height:50px;
    background-image: url(../images/starsClear.png);
    background-size:cover;
    background-position:center;
    margin: 0 auto;
  }
 }
 #cI1{
  background-image: url(../images/oldlLady.jpg);
  background-size:cover;
  background-position:center;
 }
 #cI2 {
  background-image: url(../images/coco.jpg);
  background-size:cover;
  background-position:center;

 }
 #cI3 {
  background-image: url(../images/blindMan.jpg);
  background-size:cover;
  background-position:center;
 }
span {
  font-size:20px;
  position:relative;
  top:-5px;
}

// Trivia Page Styling
.triviaPage {
  .logo {
    width:800px;
    height:800px;
    background-image: url(../images/My\ project-1.png);
    background-size:cover;
    position:fixed;
    z-index:-1;
    margin-top:50px;
    animation: myAnim 30s ease 0s infinite normal forwards;
  }
  @keyframes myAnim {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  h1{
    color:white;
    font-family: 'Roboto', sans-serif;
  }
  .difficultyDrop {
    width:100px;
    height:50px;
    background-color:white;
    border:none;
    border-radius:10px;
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
  }
  .numberOfTrivia {
    width:100px;
    height:40px;
    margin-top:20px;
    border-radius:10px;
    border:2px solid black;
  }
  .selectTrivia {
    height:50px;
    border-radius:10px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
  }
  .generateButton {
    border-radius:5px;
    background-color:rgb(134, 207, 162);
    border:none;
    padding:10px;
    margin-top:10px;
    transition:.5s;
  }
  .generateButton:hover {
    background-color:rgb(91, 153, 115);
    color:white;
  }
}
#accordionFlushExample {
  height:100%;
  width:100%;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;

  .accordion-item {
    width:100%;
    background-color:rgb(0, 10, 52);
    color:white;
  }

}
.duckImage {
  width:100%;
  height:736px;
  background-image: url(../images/coolestDuckAround.jpg);
  background-size:cover;
  background-position:center;
}


@media only screen and (max-width: 1370px) {
  .triviaIcons {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .logo {
    position: fixed;
  }
}
@media only screen and (max-width:1030px ) {
  .helpScrollContentLeft h3{
    font-size:20px;
  }
}
@media only screen and (max-width:590px ) {
  .helpScrollContentLeft h3{
    font-size:15px;
  }
}
@media only screen and (max-width:770px ) {
  #cI1 #cI2 #cI3 h4{
    font-size:20px;
  }
  .duckImage {
    height:500px;
    background-position:600px;
    
  }
}


@media only screen and (max-width: 1415px) {
  .mcqLogo {
    display: none;
  }
}

@media only screen and (max-width: 1175px) {
  .us1Left {
    width: 100% !important;
    height: 400px;
  }
  .us1Right {
    width: 100% !important;
    height: 600px;
    
  }
  .us1 {
    height: 1000px;
  }
  .us2 {
    height: 1000px;
  }
  .us2Left {
    width: 100% !important;
    height: 600px !important;
  }
  .us2Right {
    width: 100% !important;
    height: 400px !important;
  }
}